@model List<MVCFinal.Models.ETable>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllEmployees</title>
</head>
<body>
    <nav>
        <div>
            @Html.ActionLink("New Registration", "NewEmployee")
        </div>
    </nav>
    <h1>List of all the Employees </h1>
    <hr />
    <div>
        <table border="1" width="100%">
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Employee Address</th>
                <th>Employee Salary</th>
                <td>Options</td>
            </tr>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.ID</td>
                    <td>@emp.Name</td>
                    <td>@emp.Address</td>
                    <td>@emp.Salary</td>
                    <td>
                        @Html.ActionLink("Edit", "Find", new { id = emp.ID })

                        @Html.ActionLink("Delete", "Delete", new { id = emp.ID })
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
